/.github/CODEOWNERS @bassner
* @ls1intum/iris-maintainers @ls1intum/athena-maintainers @ls1intum/atlas-maintainers
/iris/ @ls1intum/iris-maintainers
/athena/ @ls1intum/athena-maintainers
/atlas/ @ls1intum/atlas-maintainers
