.logo {
  display: block;
  fill: none;

  &-clip-group {
    clip-path: url(#logo-clip);
  }

  &-background {
    fill: url(#logo-gradient);
  }

  &-icon {
    fill: rgb(var(--color-white)); 
  }
}

.gradient-start {
  stop-color: rgb(var(--color-primary-500));
}

.gradient-end {
  stop-color: rgb(var(--brand-blue));
}

.clip-rect {
  fill: rgb(var(--color-white));
}