.logo {
  display: block;
  fill: none;

  &-clip-group {
    clip-path: url(#logo-clip);
  }

  &-background {
    fill: rgb(var(--color-primary-500));
  }

  &-icon {
    fill: rgb(var(--color-white));
  }
}

.clip-rect {
  fill: rgb(var(--color-white));
}