[tool.poetry]
name = "iris"
version = "3.0.0"
description = "An LLM microservice for the learning platform Artemis"
authors = ["Timor Morrien <timor.morrien@tum.de>", "Patrick Bassner <patrick.bassner@tum.de>"]
readme = "README.MD"
packages = [{include = "iris", from = "src"}]
include = ["src/iris/py.typed"]

[tool.poetry.dependencies]
python = ">=3.12,<4.0.0"
fastapi = "0.122.0"
jinja2 = "^3.1.2"
langchain = "^1.1.0"
ollama = "^0.6.1"
openai = "^2.8.1"
psutil = "7.1.3"
pydantic = "2.12.4"
PyMuPDF = "1.26.6"
pytz = "2025.2"
PyYAML = "6.0.3"
requests = "^2.32.5"
sentry-sdk = {version = "2.46.0", extras = ["starlette", "fastapi", "openai"]}
unstructured = "0.18.21"
uvicorn = "0.38.0"
weaviate-client = "^4.18.1"
langchain-core="^1.1.0"
starlette="^0.50.0"
langsmith="^0.4.47"
langchain-text-splitters="^1.0.0"
langchain-experimental="^0.4.0"
langchain-openai="^1.1.0"
cohere = "5.20.0"
types-pyyaml = "^6.0.12.20250915"
types-pytz = "^2025.2.0.20251108"
httpx = { version = "^0.28.1", extras = ["http2"] }
memiris = {path = "../memiris", develop = true}
apscheduler = "^3.11.1"

[tool.poetry.group.dev.dependencies]
mypy = "^1.18.2"
pylint = "^4.0.3"
black = "^25.11.0"
isort = "^7.0.0"
yamllint = "^1.37.1"
bandit = "^1.9.2"
pytest = "^9.0.1"
coverage = "^7.12.0"
detect-secrets = "^1.5.0"
pre-commit = "^4.5.0"
autoflake = "^2.3.1"

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.mypy]
ignore_missing_imports = false

[[tool.mypy.overrides]]
module = "apscheduler.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "fitz.*"
ignore_missing_imports = true

[tool.bandit]
exclude_dirs = ["tests"]

[tool.coverage.run]
branch = true
source = ["src"]
dynamic_context = "test_function"

[tool.coverage.report]
show_missing = true
# fail_under = 80
# omit = ["tests/*", "your_module_name/__init__.py"]

[tool.coverage.html]
directory = "htmlcov"

[virtualenvs]
create = true
in-project = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
