[tool.poetry]
name = "iris"
version = "3.0.0"
description = "An LLM microservice for the learning platform Artemis"
authors = ["Timor Morrien <timor.morrien@tum.de>", "Patrick Bassner <patrick.bassner@tum.de>"]
readme = "README.MD"
packages = [{include = "iris", from = "src"}]
include = ["src/iris/py.typed"]

[tool.poetry.dependencies]
python = ">=3.12,<4.0.0"
fastapi = "0.116.1"
jinja2 = "^3.1.2"
langchain = "0.3.27"
ollama = "^0.5.3"
openai = "1.99.5"
psutil = "7.0.0"
pydantic = "2.11.7"
PyMuPDF = "1.26.3"
pytz = "2025.2"
PyYAML = "6.0.2"
requests = "^2.32.5"
sentry-sdk = {version = "2.34.1", extras = ["starlette", "fastapi", "openai"]}
unstructured = "0.18.11"
uvicorn = "0.35.0"
weaviate-client = "^4.16.6"
langchain-core="^0.3.63"
starlette="^0.47.2"
langfuse="^3.11.2"
langchain-text-splitters="^0.3.8"
langchain-experimental="^0.3.3"
langchain-openai="^0.3.19"
cohere = "5.16.3"
types-pyyaml = "^6.0.12.20250809"
types-pytz = "^2025.2.0.20250809"
httpx = { version = "^0.28.1", extras = ["http2"] }
memiris = {path = "../memiris", develop = true}
apscheduler = "^3.11.1"
opencv-python-headless = "^4.10.0"
ffmpeg-python = "^0.2.0"

[tool.poetry.group.dev.dependencies]
mypy = "^1.17.1"
pylint = "^3.3.8"
black = "^25.1.0"
isort = "^6.0.1"
yamllint = "^1.37.1"
bandit = "^1.8.6"
pytest = "^8.4.1"
coverage = "^7.10.2"
detect-secrets = "^1.5.0"
pre-commit = "^4.1.0"
autoflake = "^2.3.1"

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.mypy]
mypy_path = "src"

[tool.bandit]
exclude_dirs = ["tests"]

[tool.coverage.run]
branch = true
source = ["src"]
dynamic_context = "test_function"

[tool.coverage.report]
show_missing = true
# fail_under = 80
# omit = ["tests/*", "your_module_name/__init__.py"]

[tool.coverage.html]
directory = "htmlcov"

[virtualenvs]
create = true
in-project = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
