[run]
branch = True
source = 
    athena
    llm_core
    modules/programming/module_programming_llm/module_programming_llm
    modules/text/module_text_llm/module_text_llm
    modules/modeling/module_modeling_llm/module_modeling_llm
omit = 
    # Only exclude test-related files and directories
    */tests/*
    */test_*.py
    */mock_*.py
    */conftest.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod 