.DS_Store
.venv
__pycache__
*.pyc
*.pyo
dist
data/*
!data/.gitkeep
.idea/*
!.idea/runConfigurations/
.env
**/.env
**/data/*
!**/data/exercise-7.json
!**/data/exercise-7195.json
!**/data/exercise-6715.json
!**/data/exercise-6716.json
!**/data/exercise-6770.json
test-results/*
.coverage*
**/.coverage*
!.coveragerc