[tool.poetry]
name = "llm_core"
version = "0.1.0"
description = "SHared LLM module."
authors = ["Felix Dietrich <felixtj.dietrich@tum.de>"]
license = "MIT"

[tool.poetry.dependencies]
python = "3.11.*"
athena = { path = "../athena", develop = true }
langsmith = ">=0.1.112,<0.2.0"
langchain = ">=0.3,<0.4"
langchain-community = ">=0.3,<0.4"
langchain-openai = ">=0.2,<0.3"
openai = "1.58.1"
python-dotenv = "1.2.1"
tiktoken = "0.12.0"
#langfuse = "^3.3.0"

[tool.poetry.scripts]
module = "athena:run_module"

[tool.poetry.group.dev.dependencies]
prospector = "1.17.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
