# ----------------------------------------------------------------------------------------------------------------------
# Setup for a Pyris production server.
# ----------------------------------------------------------------------------------------------------------------------
# It is designed to take in a lot of environment variables to take in all the configuration of the deployment.
# ----------------------------------------------------------------------------------------------------------------------

services:
  pyris-app:
    extends:
      file: ./pyris.yml
      service: pyris-app
    image: ghcr.io/ls1intum/edutelligence/iris:${PYRIS_DOCKER_TAG:-latest}
    pull_policy: always
    restart: unless-stopped
    volumes:
      - ${PYRIS_APPLICATION_YML_FILE}:/config/application.yml:ro
      - ${PYRIS_LLM_CONFIG_YML_FILE}:/config/llm_config.yml:ro
    networks:
      - pyris

  nginx:
    extends:
      file: ./nginx.yml
      service: nginx
    restart: always
    depends_on:
      pyris-app:
        condition: service_started
    volumes:
      - cert_fullchain:/certs/fullchain.pem:ro
      - cert_privkey:/certs/priv_key.pem:ro
    networks:
      - pyris

  weaviate:
    extends:
      file: ./weaviate.yml
      service: weaviate
    networks:
      - pyris

# https://stackoverflow.com/a/79423627
volumes:
  cert_fullchain:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "${NGINX_PROXY_SSL_CERTIFICATE_PATH:-./nginx/certs/pyris-nginx+4.pem}"

  cert_privkey:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "${NGINX_PROXY_SSL_CERTIFICATE_KEY_PATH:-./nginx/certs/pyris-nginx+4-key.pem}"

networks:
  pyris:
    driver: "bridge"
    name: pyris
