name: Assign Issue/PR to Project

on:
  issues:
    types: [opened, labeled]
  pull_request:
    types: [opened, labeled]

jobs:
  assign_project:
    name: Assign Issue/PR to Project Board
    runs-on: ubuntu-latest

    steps:
      # Add issues/PRs labeled with 'athena' to the Athena project board
      - name: Assign Athena Project
        if: >
          (github.event_name == 'issues' &&
            ((github.event.action == 'opened' && contains(github.event.issue.labels.*.name, 'athena')) ||
             (github.event.action == 'labeled' && github.event.label.name == 'athena'))
          ) ||
          (github.event_name == 'pull_request' &&
            ((github.event.action == 'opened' && contains(github.event.pull_request.labels.*.name, 'athena')) ||
             (github.event.action == 'labeled' && github.event.label.name == 'athena'))
          )
        uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/orgs/ls1intum/projects/93
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}

      # Add issues/PRs labeled with 'atlas' to the Atlas project board
      - name: Assign Atlas Project
        if: >
          (github.event_name == 'issues' &&
            ((github.event.action == 'opened' && contains(github.event.issue.labels.*.name, 'atlas')) ||
             (github.event.action == 'labeled' && github.event.label.name == 'atlas'))
          ) ||
          (github.event_name == 'pull_request' &&
            ((github.event.action == 'opened' && contains(github.event.pull_request.labels.*.name, 'atlas')) ||
             (github.event.action == 'labeled' && github.event.label.name == 'atlas'))
          )
        uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/orgs/ls1intum/projects/38
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
